<h1>Listing owners</h1>

<table>
  <tr>
    <th>Tmk</th>
    <th>Owner name</th>
    <th>Site address</th>
    <th>Apartment no</th>
    <th>Property class</th>
    <th>Total parcel area</th>
    <th>Zoning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%= owner.tmk %></td>
    <td><%= owner.owner_name %></td>
    <td><%= owner.site_address %></td>
    <td><%= owner.apartment_no %></td>
    <td><%= owner.property_class %></td>
    <td><%= owner.total_parcel_area %></td>
    <td><%= owner.zoning %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner', new_owner_path %>
